@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: "Lexend", sans-serif;
}

.constructionText {
    white-space: pre-wrap;
    font-size: 3rem;
}